<!-- <div class="row">
  <div class="col-sm-3"><%#= render 'topics' %></div>
  <div class="col-sm-3"><%= @topic.name %>|
  <%= link_to 'Edit', edit_topic_path(@topic) %>|
  <%= link_to 'Delete', @topic, method: :delete, data: { confirm: "#{pluralize(@topic.resources.count, 'resource')} will also be deleted. Are you sure?" } %></div>
</div> -->

<%= render 'topics' %>

<%= render 'resources/resources' %>
