<div class="row">
  <div class="col-sm-8">
    <h3><strong><%= @topic.name %> Links </strong></h3>
  </div>
  <div class="col-sm-4">
    <div class="btn-group" role="group" aria-label="...">
      <%= button_to 'Edit', edit_topic_path(@topic), method: :get, class: 'btn btn-default' %>
      <%= button_to 'Delete', @topic, method: :delete, class: 'btn btn-default' %>
    </div>
  </div>
</div>
<% @topic.resources.each do |resource| %>
  <div class="blog-post">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="blog-post-title"><%= link_to resource.name, "#{resource.url}" %></h2>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_resource_path(resource.id) %></button>
          <button type="button" class="btn btn-default"><%= link_to 'Delete', resource_path(resource.id), method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      </div>
    </div>
    <p class="blog-post-meta"><%= resource.created_at.strftime("%d %b %y") %></p>

    <% resource.comments.each do |comment| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <blockquote>
            <p><%= comment.message %></p>
          </blockquote>
        </div>
        <div class="col-sm-4">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_comment_path(comment.id) %></button>
            <button type="button" class="btn btn-default"><%= link_to 'Delete', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- /.blog-post -->
    <%= form_for([resource, resource.comments.new]) do |f| %>
      <div class="field">
        <%= f.label :message %>
        <%= f.text_field :message %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
<% end %>

<!--   <nav>
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </nav> -->

</div><!-- /.blog-main -->
