<%# @topic.resources.each do |resource| %>
  <!-- <ul> -->
  <!-- h4 for testing purposes only -->
    <!-- <li><h4></h4> -->
      <%#= link_to resource.name, "#{resource.url}" %>
      <%#= link_to 'Edit', edit_resource_path(resource.id) %>
      <%#= link_to 'Delete Resource', resource_path(resource.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <!-- </li> -->
<%#= render "/resources/#{resource.id}/comments" %>
    <%# resource.comments.each do |comment| %>
      <!-- <ul> -->
      <!-- h3 for testing purposes only -->
        <!-- <li><h3></h3> -->
          <%#= comment.message %>
          <%#= link_to 'Edit', edit_comment_path(comment.id) %>
          <%#= link_to 'Delete Comment', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <!-- </li> -->
      <!-- </ul> -->
    <%# end %>
    <%#= form_for([resource, resource.comments.new]) do |f| %>
      <!-- <div class="field"> -->
        <%#= f.label :message %>
        <%#= f.text_field :message %>
      <!-- </div> -->
      <!-- <div class="actions"> -->
        <%#= f.submit %>
      <!-- </div> -->
    <%# end %>
  <!-- </ul> -->
<%# end %>

<%#= link_to 'New Resource', new_topic_resource_path(@topic) %>

<div class="list-group">
  <div class="row">
    <div class="col-sm-8">
      <h3>
        <%= @topic.name %> Links
      </h3>
    </div>
  <div class="col-sm-4">
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to 'New Link', new_topic_resource_path(@topic), method: :get, class: 'btn btn-default' %>
      <%= link_to 'Edit', edit_topic_path(@topic), method: :get, class: 'btn btn-default' %>
      <%= link_to 'Delete', @topic, method: :delete, data: { confirm: "#{pluralize(@topic.resources.count, 'link')} will also be deleted. Are you sure?" }, class: 'btn btn-default' %>
    </div>
  </div>
  </div>
  <% @topic.resources.each do |resource| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <h4><%= link_to resource.name, "#{resource.url}" %></h4>
          </div>
          <div class="col-sm-4">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Edit', edit_resource_path(resource.id), method: :get, class: 'btn btn-default' %>
            <%= link_to 'Delete', resource_path(resource.id), method: :delete, data: { confirm: "#{pluralize(resource.comments.count, 'comment')} will also be deleted. Are you sure?" }, class: 'btn btn-default' %>
          </div>
          </div>
        </div>
        <p class="blog-post-meta">Link added: <%= resource.created_at.strftime("%d %b %y") %></p>
      </div>
      <% resource.comments.each do |comment| %>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8">
              <%= comment.message %>
            </div>
            <div class="col-sm-4">
              <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Edit', edit_comment_path(comment.id), class: 'btn btn-default' %>
            <%= link_to 'Delete', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
          </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <%= form_for([resource, resource.comments.new]) do |f| %>
              <div class="field">
                <%= f.label :message %>
                <%= f.text_field :message %>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <a href="#" class="list-group-item"><%= link_to 'New Link', new_topic_resource_path(@topic) %></a>
</div>
