<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>futuref</title>

  </head>
  <body>

  <div class="container">
    <div class="col-xs-8">
      <div class="page-header">
        <h1>futuref <small>bookmark your programming links for future reference</small></h1>
      </div>
    </div>
  </div>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= render 'flash' %>
        <%#= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div>


  </body>
</html>
